In [6]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[1]").appName('app1').getOrCreate()
sc = spark.sparkContext

rdd1 = sc.parallelize([(1, "Alice"), (2, "Bob"), (3, "Charlie"), (1, "David")])
rdd2 = sc.parallelize([(2, "New York"), (3, "San Francisco"), (4, "Los Angeles"), (1, "Chicago")])
cogrouped = rdd1.cogroup(rdd2)
for key, values in cogrouped.collect():
    print(f"Key: {key}, Values in RDD1: {list(values[0])}, Values in RDD2: {list(values[1])}")

Key: 2, Values in RDD1: ['Bob'], Values in RDD2: ['New York']
Key: 4, Values in RDD1: [], Values in RDD2: ['Los Angeles']
Key: 1, Values in RDD1: ['Alice', 'David'], Values in RDD2: ['Chicago']
Key: 3, Values in RDD1: ['Charlie'], Values in RDD2: ['San Francisco']