In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
df = spark.read.options(header='True', inferSchema=True, delimiter=',').csv("appl_stock.csv")
df.printSchema()
df.show(n=3, truncate=25, vertical=True)

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

-RECORD 0-----------------------
 Date      | 2010-01-04
 Open      | 213.429998
 High      | 214.499996
 Low       | 212.38000099999996
 Close     | 214.009998
 Volume    | 123432400
 Adj Close | 27.727039
-RECORD 1-----------------------
 Date      | 2010-01-05
 Open      | 214.599998
 High      | 215.589994
 Low       | 213.249994
 Close     | 214.379993
 Volume    | 150476200
 Adj Close | 27.774976000000002
-RECORD 2-----------------------
 Date      | 2010-01-06
 Open      | 214.379993
 High      | 215.23
 Low       | 210.750004
 Close     | 210.969995
 Volume    | 138040000
 Adj Close | 27.333178000000004
only showing top 3 rows

In [8]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
columns = ["Seqno","Quote"]
data = [("1", "Be the change that you wish to see in the world"),
    ("2", "Everyone thinks of changing the world, but no one thinks of changing himself."),
    ("3", "The purpose of our lives is to be happy."),
    ("4", "Be cool.")]
df = spark.createDataFrame(data,columns)
df.show()

+-----+--------------------+
|Seqno|               Quote|
+-----+--------------------+
|    1|Be the change tha...|
|    2|Everyone thinks o...|
|    3|The purpose of ou...|
|    4|            Be cool.|
+-----+--------------------+

In [9]:
df.show(truncate=False)

+-----+-----------------------------------------------------------------------------+
|Seqno|Quote                                                                        |
+-----+-----------------------------------------------------------------------------+
|1    |Be the change that you wish to see in the world                              |
|2    |Everyone thinks of changing the world, but no one thinks of changing himself.|
|3    |The purpose of our lives is to be happy.                                     |
|4    |Be cool.                                                                     |
+-----+-----------------------------------------------------------------------------+

In [10]:
df.show(2,truncate=False)

+-----+-----------------------------------------------------------------------------+
|Seqno|Quote                                                                        |
+-----+-----------------------------------------------------------------------------+
|1    |Be the change that you wish to see in the world                              |
|2    |Everyone thinks of changing the world, but no one thinks of changing himself.|
+-----+-----------------------------------------------------------------------------+
only showing top 2 rows

In [11]:
df.show(2,truncate=25)

+-----+-------------------------+
|Seqno|                    Quote|
+-----+-------------------------+
|    1|Be the change that you...|
|    2|Everyone thinks of cha...|
+-----+-------------------------+
only showing top 2 rows

In [12]:
df.show(n=3,truncate=25,vertical=True)

-RECORD 0--------------------------
 Seqno | 1
 Quote | Be the change that you...
-RECORD 1--------------------------
 Seqno | 2
 Quote | Everyone thinks of cha...
-RECORD 2--------------------------
 Seqno | 3
 Quote | The purpose of our liv...
only showing top 3 rows