In [9]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("example").getOrCreate()

data1 = [("Alice", 25), ("Bob", 30)]
data2 = [("Alice", 25), ("Charlie", 22)]
df1 = spark.createDataFrame(data1, ["Name", "Age"])
df2 = spark.createDataFrame(data2, ["Name", "Age"])

unioned_df = df1.union(df2)
unioned_df.show()

unioned_df1 = df1.unionAll(df2)
unioned_df1.show()

disDF = df1.union(df2).distinct()
disDF.show(truncate=False)

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|  Alice| 25|
|Charlie| 22|
+-------+---+

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|  Alice| 25|
|Charlie| 22|
+-------+---+

+-------+---+
|Name   |Age|
+-------+---+
|Alice  |25 |
|Bob    |30 |
|Charlie|22 |
+-------+---+

In [12]:
#unionByName

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('com').getOrCreate()

data = [("James",34), ("Michael",56),("Robert",30), ("Maria",24) ]
df1 = spark.createDataFrame(data = data, schema=["name","id"])
df1.printSchema()
df1.show()

data2=[(34,"James"),(45,"Maria"),(45,"Jen"),(34,"Jeff")]
df2 = spark.createDataFrame(data = data2, schema = ["id","name"])
df2.printSchema()
df2.show()

root
 |-- name: string (nullable = true)
 |-- id: long (nullable = true)

+-------+---+
|   name| id|
+-------+---+
|  James| 34|
|Michael| 56|
| Robert| 30|
|  Maria| 24|
+-------+---+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

+---+-----+
| id| name|
+---+-----+
| 34|James|
| 45|Maria|
| 45|  Jen|
| 34| Jeff|
+---+-----+

In [13]:
df3 = df1.unionByName(df2)
df3.printSchema()
df3.show()

root
 |-- name: string (nullable = true)
 |-- id: long (nullable = true)

+-------+---+
|   name| id|
+-------+---+
|  James| 34|
|Michael| 56|
| Robert| 30|
|  Maria| 24|
|  James| 34|
|  Maria| 45|
|    Jen| 45|
|   Jeff| 34|
+-------+---+

In [14]:
df1 = spark.createDataFrame([[5, 2, 6]], ["col0", "col1", "col2"])
df2 = spark.createDataFrame([[6, 7, 3]], ["col1", "col2", "col3"])

# Using allowMissingColumns
df3 = df1.unionByName(df2, allowMissingColumns=True)
df3.printSchema
df3.show()

+----+----+----+----+
|col0|col1|col2|col3|
+----+----+----+----+
|   5|   2|   6|null|
|null|   6|   7|   3|
+----+----+----+----+