In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]") .appName("com").getOrCreate()

data = ["Project","Gutenberg’s","Alice’s","Adventures",
        "in","Wonderland","Project","Gutenberg’s","Adventures",
        "in","Wonderland","Project","Gutenberg’s"]

rdd=spark.sparkContext.parallelize(data)

rdd2=rdd.map(lambda x: (x,1))
for element in rdd2.collect():
    print(element)

df2=rdd2.toDF(["name","value"])
df2.show()

('Project', 1)
('Gutenberg’s', 1)
('Alice’s', 1)
('Adventures', 1)
('in', 1)
('Wonderland', 1)
('Project', 1)
('Gutenberg’s', 1)
('Adventures', 1)
('in', 1)
('Wonderland', 1)
('Project', 1)
('Gutenberg’s', 1)
+-----------+-----+
|       name|value|
+-----------+-----+
|    Project|    1|
|Gutenberg’s|    1|
|    Alice’s|    1|
| Adventures|    1|
|         in|    1|
| Wonderland|    1|
|    Project|    1|
|Gutenberg’s|    1|
| Adventures|    1|
|         in|    1|
| Wonderland|    1|
|    Project|    1|
|Gutenberg’s|    1|
+-----------+-----+

In [5]:
data = [('James','Smith','M',30),
  ('Anna','Rose','F',41),
  ('Robert','Williams','M',62), 
]

columns = ["firstname","lastname","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
df.show()

#rdd2=df.rdd.map(lambda x: (x[0]+","+x[1],x[2],x[3]*2))
#rdd2=df.rdd.map(lambda x: (x.firstname+","+x.lastname,x.gender,x.salary*2))
rdd2=df.rdd.map(lambda x: (x.firstname+","+x.lastname,x.gender,x.salary*2))

df2=rdd2.toDF(["name","gender","new_salary"]   )
df2.show()

+---------+--------+------+------+
|firstname|lastname|gender|salary|
+---------+--------+------+------+
|    James|   Smith|     M|    30|
|     Anna|    Rose|     F|    41|
|   Robert|Williams|     M|    62|
+---------+--------+------+------+

+---------------+------+----------+
|           name|gender|new_salary|
+---------------+------+----------+
|    James,Smith|     M|        60|
|      Anna,Rose|     F|        82|
|Robert,Williams|     M|       124|
+---------------+------+----------+