In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Examples').getOrCreate()
data = [("111",50000),("222",60000),("333",40000)]
columns= ["EmpId","Salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.show()

+-----+------+
|EmpId|Salary|
+-----+------+
|  111| 50000|
|  222| 60000|
|  333| 40000|
+-----+------+

In [3]:
from pyspark.sql.functions import col,lit
df2 = df.select(col("EmpId"),col("Salary"),lit("1").alias("lit_value1"))
df2.show(truncate=False)

+-----+------+----------+
|EmpId|Salary|lit_value1|
+-----+------+----------+
|111  |50000 |1         |
|222  |60000 |1         |
|333  |40000 |1         |
+-----+------+----------+

In [4]:
from pyspark.sql.functions import when, lit, col
df3 = df2.withColumn("lit_value2", when((col("Salary") >=40000) & (col("Salary") <= 50000),lit("100")).otherwise(lit("200")))
df3.show(truncate=False)

+-----+------+----------+----------+
|EmpId|Salary|lit_value1|lit_value2|
+-----+------+----------+----------+
|111  |50000 |1         |100       |
|222  |60000 |1         |200       |
|333  |40000 |1         |100       |
+-----+------+----------+----------+

In [6]:
from pyspark.sql.functions import when, lit, col , typedLit
from pyspark.sql.types import MapType, StringType
data = [("Alice", {"fruit": "apple", "color": "red"}),
        ("Bob", {"fruit": "banana", "color": "yellow"}),
        ("Eve", {"fruit": "orange", "color": "orange"})]
columns = ["Name", "Info"]
df = spark.createDataFrame(data, columns)
df.show()

map_data_type = MapType(StringType(), StringType())
df_lit = df.withColumn("Additional_Info", typedLit({"location": "USA", "country": "United States"}, map_data_type))
df_lit.show()

ImportError: cannot import name 'typedLit' from 'pyspark.sql.functions' (C:\Users\nares\anaconda3\lib\site-packages\pyspark\sql\functions.py)