In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

spark = SparkSession.builder.appName('com').getOrCreate()
data = [ ("36636","Finance",3000,"USA"), 
    ("40288","Finance",5000,"IND"), 
    ("42114","Sales",3900,"USA"), 
    ("39192","Marketing",2500,"CAN"), 
    ("34534","Sales",6500,"USA") ]
schema = StructType([
     StructField('id', StringType(), True),
     StructField('dept', StringType(), True),
     StructField('salary', IntegerType(), True),
     StructField('location', StringType(), True)
     ])

df = spark.createDataFrame(data=data,schema=schema)
df.printSchema()
df.show(truncate=False)

root
 |-- id: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- location: string (nullable = true)

+-----+---------+------+--------+
|id   |dept     |salary|location|
+-----+---------+------+--------+
|36636|Finance  |3000  |USA     |
|40288|Finance  |5000  |IND     |
|42114|Sales    |3900  |USA     |
|39192|Marketing|2500  |CAN     |
|34534|Sales    |6500  |USA     |
+-----+---------+------+--------+

In [2]:
from pyspark.sql.functions import col,lit,create_map
df = df.withColumn("propertiesMap",create_map(lit("salary"),col("salary"),lit("location"),col("location"))).drop("salary","location")
df.printSchema()
df.show(truncate=False)

root
 |-- id: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- propertiesMap: map (nullable = false)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

+-----+---------+---------------------------------+
|id   |dept     |propertiesMap                    |
+-----+---------+---------------------------------+
|36636|Finance  |{salary -> 3000, location -> USA}|
|40288|Finance  |{salary -> 5000, location -> IND}|
|42114|Sales    |{salary -> 3900, location -> USA}|
|39192|Marketing|{salary -> 2500, location -> CAN}|
|34534|Sales    |{salary -> 6500, location -> USA}|
+-----+---------+---------------------------------+

In [6]:
from pyspark.sql.functions import map_keys
df.select(df.id,df.dept, map_keys(df.propertiesMap)).show()

+-----+---------+-----------------------+
|   id|     dept|map_keys(propertiesMap)|
+-----+---------+-----------------------+
|36636|  Finance|     [salary, location]|
|40288|  Finance|     [salary, location]|
|42114|    Sales|     [salary, location]|
|39192|Marketing|     [salary, location]|
|34534|    Sales|     [salary, location]|
+-----+---------+-----------------------+

In [7]:
from pyspark.sql.functions import map_values
df.select(df.id,df.dept, map_values(df.propertiesMap)).show()

+-----+---------+-------------------------+
|   id|     dept|map_values(propertiesMap)|
+-----+---------+-------------------------+
|36636|  Finance|              [3000, USA]|
|40288|  Finance|              [5000, IND]|
|42114|    Sales|              [3900, USA]|
|39192|Marketing|              [2500, CAN]|
|34534|    Sales|              [6500, USA]|
+-----+---------+-------------------------+