In [13]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('union').getOrCreate()

l1 = [("2020","Naresh","Reddy")]
l2 = [("Nikky","2021","Reddy")]
s1 = ["year","f_name","l_name"]
s2 = ["f_name","year","l_name"]
df1 = spark.createDataFrame(data=l1,schema =s1)
df2 = spark.createDataFrame(data=l2,schema =s2)

df1.show()
df2.show()

+----+------+------+
|year|f_name|l_name|
+----+------+------+
|2020|Naresh| Reddy|
+----+------+------+

+------+----+------+
|f_name|year|l_name|
+------+----+------+
| Nikky|2021| Reddy|
+------+----+------+

### union(): Merge the two dataframe with respect Position/ Datatype of the column

In [7]:
df1.union(df2).show()

+-----+------+---------+
| year|f_name|last_name|
+-----+------+---------+
| 2020|Naresh|    Reddy|
|Nikky|  2021|    Reddy|
+-----+------+---------+

In [9]:
df_u = df2.select('year','f_name','l_name')
df1.union(df_u).show()

+----+------+---------+
|year|f_name|last_name|
+----+------+---------+
|2020|Naresh|    Reddy|
|2021| Nikky|    Reddy|
+----+------+---------+

### unionByName(): Merge the two dataframes with respect to Name of the column

In [14]:
df1.unionByName(df2).show()

+----+------+------+
|year|f_name|l_name|
+----+------+------+
|2020|Naresh| Reddy|
|2021| Nikky| Reddy|
+----+------+------+

### unionByName(): different columns count

In [15]:
l1 = [("2020","Naresh","Reddy")]
l2 = [("Nikky","2021","Reddy","successful")]
s1 = ["year","f_name","l_name"]
s2 = ["f_name","year","l_name","status"]
df6 = spark.createDataFrame(data=l1,schema =s1)
df7 = spark.createDataFrame(data=l2,schema =s2)

df6.show()
df7.show()

+----+------+------+
|year|f_name|l_name|
+----+------+------+
|2020|Naresh| Reddy|
+----+------+------+

+------+----+------+----------+
|f_name|year|l_name|    status|
+------+----+------+----------+
| Nikky|2021| Reddy|successful|
+------+----+------+----------+

In [19]:
df6.unionByName(df7,allowMissingColumns=True).show()

+----+------+------+----------+
|year|f_name|l_name|    status|
+----+------+------+----------+
|2020|Naresh| Reddy|      null|
|2021| Nikky| Reddy|successful|
+----+------+------+----------+