In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('app').getOrCreate()
df = spark.read.csv("duplicate.csv",header=True)
df.show()

+------+---+---------+----+
|  Name|Age|Education|Year|
+------+---+---------+----+
|   RAM| 28|       BE|2012|
|Rakesh| 53|      MBA|1985|
| Madhu| 22|    B.Com|2018|
|Rakesh| 53|      MBA|1985|
|  Bill| 32|       ME|2007|
| Madhu| 22|    B.Com|2018|
|Rakesh| 53|      MBA|1985|
|   RAM| 25|       MA|2012|
+------+---+---------+----+

### groupBy

In [6]:
df.groupBy("Name","Age","Education","Year").count().where("count > 1").drop("count").show()

+------+---+---------+----+
|  Name|Age|Education|Year|
+------+---+---------+----+
|Rakesh| 53|      MBA|1985|
| Madhu| 22|    B.Com|2018|
+------+---+---------+----+

### window: row_number

In [18]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, row_number
win = Window.partitionBy("name","Age","Education","year").orderBy(col("year").desc())
df.withColumn("row",row_number().over(win)).filter("row > 1").drop("row").dropDuplicates().show()

+------+---+---------+----+
|  Name|Age|Education|Year|
+------+---+---------+----+
| Madhu| 22|    B.Com|2018|
|Rakesh| 53|      MBA|1985|
+------+---+---------+----+