### ambiguous columns (duplicate column names) in CSV files

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('app').getOrCreate()

df = spark.read.csv("trans.csv",header=True)
df.printSchema()
df.show()

root
 |-- CustomerId0: string (nullable = true)
 |-- CustomerId1: string (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- dateTime: string (nullable = true)

+-----------+-----------+------------+-------------------+
|CustomerId0|CustomerId1|CustomerName|           dateTime|
+-----------+-----------+------------+-------------------+
|       1001|        101|        Arun|2020-07-15 01:01:53|
|       1005|        102|      Barath|2020-07-13 12:15:33|
|       1003|        103|      Charle|2020-07-18 20:10:45|
|       1004|        104|       Gokul|2020-07-15 11:11:36|
|       1005|        105|       Messy|2020-07-18 15:11:43|
|       1006|        106|      Gerold|2020-07-08 14:16:53|
+-----------+-----------+------------+-------------------+

### Ambiguous Columns: Json format multiline

In [4]:
df1 = spark.read.json('input1.json',multiLine=True)
df1.printSchema()
df1.show(truncate=False)

root
 |-- Delivery: struct (nullable = true)
 |    |-- address: string (nullable = true)
 |    |-- mob: string (nullable = true)
 |    |-- name: string (nullable = true)
 |-- name: string (nullable = true)
 |-- product: string (nullable = true)

+---------------------------------+-------+---------+
|Delivery                         |name   |product  |
+---------------------------------+-------+---------+
|{Chennai, 1234567, Azarudeen}    |AZAR   |Headphone|
|{Bangalore, 5738612, Bharathiraj}|Bharath|T-shirt  |
+---------------------------------+-------+---------+

In [7]:
df2 = df1.select("*","Delivery.*").drop("Delivery")
df2.show()

+-------+---------+---------+-------+-----------+
|   name|  product|  address|    mob|       name|
+-------+---------+---------+-------+-----------+
|   AZAR|Headphone|  Chennai|1234567|  Azarudeen|
|Bharath|  T-shirt|Bangalore|5738612|Bharathiraj|
+-------+---------+---------+-------+-----------+

In [8]:
df2.columns

['name', 'product', 'address', 'mob', 'name']

In [27]:
lst=[]
x=1
for i in df2.columns:
    if i in lst:
        i = i+str(x)
        x=x+1
    lst.append(i)
print(lst)

['name', 'product', 'address', 'mob', 'name1']

In [30]:
df = df2.toDF(*lst)
df.show()

+-------+---------+---------+-------+-----------+
|   name|  product|  address|    mob|      name1|
+-------+---------+---------+-------+-----------+
|   AZAR|Headphone|  Chennai|1234567|  Azarudeen|
|Bharath|  T-shirt|Bangalore|5738612|Bharathiraj|
+-------+---------+---------+-------+-----------+