# coding assignment: 
1. Read the input text file (pipe delimited) provided as df
2. Calculate Final_price: Final_Price = (Size * Price_SQ_FT)
3. save the final rdd into csv file with header as pipe delimited 
    property_id|location|Final_Price

In [12]:
#1. Read the input csv file (pipe delimited) provided as df
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName('Assign').getOrCreate()
df = spark.read.option("delimiter", "|").csv("input_real_estate.txt", header=True, inferSchema=True)
df.printSchema()
df.show()

root
 |-- Property_ID: integer (nullable = true)
 |-- Location: string (nullable = true)
 |-- Price: integer (nullable = true)
 |-- Bedrooms: integer (nullable = true)
 |-- Bathrooms: integer (nullable = true)
 |-- Size: integer (nullable = true)
 |-- Price_SQ_FT: double (nullable = true)
 |-- Status: string (nullable = true)

+-----------+--------------+------+--------+---------+----+-----------+----------+
|Property_ID|      Location| Price|Bedrooms|Bathrooms|Size|Price_SQ_FT|    Status|
+-----------+--------------+------+--------+---------+----+-----------+----------+
|    1461262| Arroyo Grande|795000|       3|        3|2371|      365.3|Short Sale|
|    1478004|   Paulo Pablo|399000|       4|        3|2818|     163.59|Short Sale|
|    1486551|   Paulo Pablo|545000|       4|        3|3032|     179.75|Short Sale|
|    1492832|     Santa Bay|909000|       4|        4|3540|     286.78|Short Sale|
|    1499102|Thomas Country|109900|       3|        1|1249|      98.99|Short Sale|
|    1489132|Thomas Country|109000|       2|        1|1129|      93.99|Short Sale|
|    1467262|    Fort Worth|987000|       4|        3|2771|      465.3|Short Sale|
|    1478114|   Paulo Pablo|409000|       4|        3|2918|     223.19|Short Sale|
|    1402551|     Nashville|545000|       4|        3|2932|     169.75|Short Sale|
|    1405832|      San Jose|980000|       4|        4|3340|     290.98|Short Sale|
|    1493302|    Fort Worth|119900|       3|        2|2249|     198.99|Short Sale|
|    1412332|Thomas Country|129000|       3|        2|1329|      73.99|Short Sale|
|    1469062| Arroyo Grande|798000|       3|        4|2321|      235.9|Short Sale|
|    1498004|     Nashville|789000|       4|        3|2419|     263.59|Short Sale|
|    1586751|     Nashville|896000|       4|        3|3132|     199.75|Short Sale|
|    1433232|      Glendale|987000|       4|        4|3340|     216.78|Short Sale|
|    1495502|    Fort Worth|219900|       3|        2| 987|     200.99|Short Sale|
|    1489100|      San Jose|107200|       1|        1| 789|      78.99|Short Sale|
+-----------+--------------+------+--------+---------+----+-----------+----------+

In [13]:
# 3. Calculate Final_price: Final_Price = (Size * Price_SQ_FT)
final_df = df.withColumn("Final_Price", col("Size") * col("Price_SQ_FT"))

In [16]:
# 4.  save the final rdd into csv file with header as pipe delimited property_id|location|Final_Price
final_df.select("property_id", "location", "Final_Price").write.csv("77_final_output_1.csv", sep="|", header=True, mode="overwrite")