In [2]:
from pyspark.sql import SparkSession,types

spark = SparkSession.builder.master("local").appName('RDDtoDF').getOrCreate()
sc = spark.sparkContext

In [17]:
ls = [[1,"Naresh"],[2,"Reddy"],[3,"Palugulla"]]
rdd = sc.parallelize(ls)
print(type(rdd))
rdd.collect()

<class 'pyspark.rdd.RDD'>

[[1, 'Naresh'], [2, 'Reddy'], [3, 'Palugulla']]

## Convert RDD to DF

In [9]:
df = rdd1.toDF(["Emp_id","Name"])
print(type(df))
df.show()

<class 'pyspark.sql.dataframe.DataFrame'>
+------+---------+
|Emp_id|     Name|
+------+---------+
|     1|   Naresh|
|     2|    Reddy|
|     3|Palugulla|
+------+---------+

## Convert RDD to DF: Another Method

In [11]:
df1 = spark.createDataFrame(rdd1,["Emp_id","Name"])
print(type(df1))
df1.show()

<class 'pyspark.sql.dataframe.DataFrame'>
+------+---------+
|Emp_id|     Name|
+------+---------+
|     1|   Naresh|
|     2|    Reddy|
|     3|Palugulla|
+------+---------+

## Convert DF to RDD

In [14]:
rdd2 = df1.rdd
print(type(rdd2))
rdd2.collect()

<class 'pyspark.rdd.RDD'>

[Row(Emp_id=1, Name='Naresh'),
 Row(Emp_id=2, Name='Reddy'),
 Row(Emp_id=3, Name='Palugulla')]