In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit, col

spark = SparkSession.builder.appName("MergeJSONFiles").getOrCreate()

df1 = spark.read.json("file1.json",multiLine=True)
df2 = spark.read.json("file2.json",multiLine=True)
df1.printSchema()
df2.printSchema()

root
 |-- Education: struct (nullable = true)
 |    |-- Qualification: string (nullable = true)
 |    |-- age: long (nullable = true)
 |    |-- year: long (nullable = true)
 |-- Name: string (nullable = true)

root
 |-- Education: struct (nullable = true)
 |    |-- Qualification: string (nullable = true)
 |    |-- year: long (nullable = true)
 |-- Name: string (nullable = true)

In [14]:
df1.schema

StructType(List(StructField(Education,StructType(List(StructField(Qualification,StringType,true),StructField(age,LongType,true),StructField(year,LongType,true))),true),StructField(Name,StringType,true)))

In [36]:
df= df1.unionByName(df2,allowMissingColumns=True)
df.printSchema()
df.show()

root
 |-- Education: struct (nullable = true)
 |    |-- Qualification: string (nullable = true)
 |    |-- age: long (nullable = true)
 |    |-- year: long (nullable = true)
 |-- Name: string (nullable = true)

+-------------------+-----+
|          Education| Name|
+-------------------+-----+
|{Masters, 30, 2020}| John|
|{Masters, 30, 2020}| John|
|{Masters, 30, 2020}| John|
|  {PhD, null, 2019}|Alice|
+-------------------+-----+