In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Na').getOrCreate()
df1 = spark.read.csv('student1.csv',header=True)
df2 = spark.read.csv('student2.csv',header=True)
df1.show()
df2.show()

+---+---------+---+
| Id|     Name|Age|
+---+---------+---+
|  1|     Nani| 32|
|  2|    Nikky|  2|
|  3|   Jhansi| 27|
|  4|  JayaRam| 62|
|  5|Ramanamma| 58|
+---+---------+---+

+---+-------+---+
| Id|   Name|Age|
+---+-------+---+
|  1|   Nani| 32|
|  2|  Nikky|  2|
|  4|JayaRam| 62|
+---+-------+---+

### common values

In [4]:
df1.intersect(df2).show()
df1.intersectAll(df2).show()
df1.join(df2,on=["Id","Name","Age"],how="leftsemi").show()

+---+-------+---+
| Id|   Name|Age|
+---+-------+---+
|  4|JayaRam| 62|
|  1|   Nani| 32|
|  2|  Nikky|  2|
+---+-------+---+

+---+-------+---+
| Id|   Name|Age|
+---+-------+---+
|  4|JayaRam| 62|
|  1|   Nani| 32|
|  2|  Nikky|  2|
+---+-------+---+

+---+-------+---+
| Id|   Name|Age|
+---+-------+---+
|  1|   Nani| 32|
|  2|  Nikky|  2|
|  4|JayaRam| 62|
+---+-------+---+

### different values

In [6]:
df1.subtract(df2).show()
df1.exceptAll(df2).show()
df1.join(df2,on=["ID","Name","Age"],how="leftanti").show()

+---+---------+---+
| Id|     Name|Age|
+---+---------+---+
|  5|Ramanamma| 58|
|  3|   Jhansi| 27|
+---+---------+---+

+---+---------+---+
| Id|     Name|Age|
+---+---------+---+
|  5|Ramanamma| 58|
|  3|   Jhansi| 27|
+---+---------+---+

+---+---------+---+
| Id|     Name|Age|
+---+---------+---+
|  3|   Jhansi| 27|
|  5|Ramanamma| 58|
+---+---------+---+