## create Pandas DataFrame

In [5]:
import pandas as pd
import datetime

pd1 = pd.read_csv("trans.csv")
pd1.head()

   CustomerId  CustomerId.1 CustomerName             dateTime
0        1001           101         Arun  2020-07-15 01:01:53
1        1005           102       Barath  2020-07-13 12:15:33
2        1003           103       Charle  2020-07-18 20:10:45
3        1004           104        Gokul  2020-07-15 11:11:36
4        1005           105        Messy  2020-07-18 15:11:43

In [16]:
type(pd1)

pandas.core.frame.DataFrame

In [6]:
pd1.dtypes

CustomerId       int64
CustomerId.1     int64
CustomerName    object
dateTime        object
dtype: object

## convert Pandas Dataframe to PySpark DataFrame

In [9]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('app').getOrCreate()
df = spark.createDataFrame(pd1)
df.show()
df.printSchema()

+----------+------------+------------+-------------------+
|CustomerId|CustomerId.1|CustomerName|           dateTime|
+----------+------------+------------+-------------------+
|      1001|         101|        Arun|2020-07-15 01:01:53|
|      1005|         102|      Barath|2020-07-13 12:15:33|
|      1003|         103|      Charle|2020-07-18 20:10:45|
|      1004|         104|       Gokul|2020-07-15 11:11:36|
|      1005|         105|       Messy|2020-07-18 15:11:43|
|      1006|         106|      Gerold|2020-07-08 14:16:53|
+----------+------------+------------+-------------------+

root
 |-- CustomerId: long (nullable = true)
 |-- CustomerId.1: long (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- dateTime: string (nullable = true)

In [15]:
type(df)

pyspark.sql.dataframe.DataFrame

## Convert Spark DataFrame to Pandas DataFrame

In [10]:
pd2 = df.toPandas()

In [12]:
type(pd2)

pandas.core.frame.DataFrame

In [13]:
pd2.head()

   CustomerId  CustomerId.1 CustomerName             dateTime
0        1001           101         Arun  2020-07-15 01:01:53
1        1005           102       Barath  2020-07-13 12:15:33
2        1003           103       Charle  2020-07-18 20:10:45
3        1004           104        Gokul  2020-07-15 11:11:36
4        1005           105        Messy  2020-07-18 15:11:43

In [14]:
pd2.dtypes

CustomerId       int64
CustomerId.1     int64
CustomerName    object
dateTime        object
dtype: object