In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("Multi file").getOrCreate()

In [2]:
df = spark.read.option("header",True).csv("Data*/file*.csv")
df.show()

+----------------+----+---------+----+
|            Name| age|education|Year|
+----------------+----+---------+----+
|          Dravid|  44|     MBBS|2005|
|         Ganguly|  45|      BDS|2008|
|           Gayle|  40|      BBA|2003|
|           Rahul|  24|     B.Sc|2012|
|           Dhoni|  38|      MBA|2005|
|           Rinku|  26|     B.Ed|2016|
|           Rohit|  32|       MS|2010|
|          Pollar|  36|     M.Sc|2010|
|           Kolhi|  29|       ME|2017|
|          Hussey|  43|     Ph.d|2013|
|          Parker|  23|       BE|2019|
|           Peter|  29|       ME|2013|
|            Mike|  28|       BE|2014|
|            Jack|  43|      MBA|2000|
|         age:Int|null|     null|null|
|education:String|null|     null|null|
|        Year:Int|null|     null|null|
+----------------+----+---------+----+

### Method 1: List of Input Path

In [3]:
df1 = spark.read.option("header",True).csv(["Data1/*.csv","Data2/*.csv","Data3/*.csv","Data4/*.csv"])
df1.show()

+-------+---+---------+----+
|   Name|age|education|Year|
+-------+---+---------+----+
| Dravid| 44|     MBBS|2005|
|Ganguly| 45|      BDS|2008|
|  Gayle| 40|      BBA|2003|
|  Rahul| 24|     B.Sc|2012|
|  Dhoni| 38|      MBA|2005|
|  Rinku| 26|     B.Ed|2016|
|  Rohit| 32|       MS|2010|
| Pollar| 36|     M.Sc|2010|
|  Kolhi| 29|       ME|2017|
| Hussey| 43|     Ph.d|2013|
| Parker| 23|       BE|2019|
|  Peter| 29|       ME|2013|
|   Mike| 28|       BE|2014|
|   Jack| 43|      MBA|2000|
+-------+---+---------+----+

### Method 2: Using Regex Pattern

In [4]:
df2 = spark.read.option("header",True).csv("Data[1-4]*/*.csv")
df2.show()

+-------+---+---------+----+
|   Name|age|education|Year|
+-------+---+---------+----+
| Dravid| 44|     MBBS|2005|
|Ganguly| 45|      BDS|2008|
|  Gayle| 40|      BBA|2003|
|  Rahul| 24|     B.Sc|2012|
|  Dhoni| 38|      MBA|2005|
|  Rinku| 26|     B.Ed|2016|
|  Rohit| 32|       MS|2010|
| Pollar| 36|     M.Sc|2010|
|  Kolhi| 29|       ME|2017|
| Hussey| 43|     Ph.d|2013|
| Parker| 23|       BE|2019|
|  Peter| 29|       ME|2013|
|   Mike| 28|       BE|2014|
|   Jack| 43|      MBA|2000|
+-------+---+---------+----+

### Method 3: using curly braces

In [5]:
df3 = spark.read.option("header",True).csv("Data{1,2,3,4}*/*.csv")
df3.show()

+-------+---+---------+----+
|   Name|age|education|Year|
+-------+---+---------+----+
| Dravid| 44|     MBBS|2005|
|Ganguly| 45|      BDS|2008|
|  Gayle| 40|      BBA|2003|
|  Rahul| 24|     B.Sc|2012|
|  Dhoni| 38|      MBA|2005|
|  Rinku| 26|     B.Ed|2016|
|  Rohit| 32|       MS|2010|
| Pollar| 36|     M.Sc|2010|
|  Kolhi| 29|       ME|2017|
| Hussey| 43|     Ph.d|2013|
| Parker| 23|       BE|2019|
|  Peter| 29|       ME|2013|
|   Mike| 28|       BE|2014|
|   Jack| 43|      MBA|2000|
+-------+---+---------+----+