In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('app').getOrCreate()
df = spark.read.option("delimiter","|").option("header",True).option("inferSchema",True).csv("uspopulation.csv")
df.show()

+---------+----------------+----------+-------------+-----------+------------------+
|2019_rank|            City|State_Code|2019_estimate|2010_Census|            Change|
+---------+----------------+----------+-------------+-----------+------------------+
|        1|     New York[d]|        NY|      8336817|    8175133|            0.0198|
|        2|     Los Angeles|        CA|      3979576|    3792621|            0.0493|
|        3|         Chicago|        IL|      2693976|    2695598|âˆ’0.06%            |
|        4|      Houston[3]|        TX|      2320268|    2100263|            0.1048|
|        5|         Phoenix|        AZ|      1680992|    1445632|            0.1628|
|        6|     San Antonio|        TX|      1547253|    1327407|            0.1656|
|        7|       San Diego|        CA|      1423851|    1307402|            0.0891|
|        8|          Dallas|        TX|      1343573|    1197816|            0.1217|
|        9|        San Jose|        CA|      1021795|     945942|            0.0802|
|       10|          Austin|        TX|       978908|     790390|            0.2385|
|       11|      Fort Worth|        TX|       909585|     741206|            0.2272|
|       12|        Columbus|        OH|       898553|     787033|            0.1417|
|       13|San Francisco[g]|        CA|       881549|     805235|            0.0948|
|       14|       Denver[i]|        CO|       727211|     600158|            0.2117|
|       15|         El Paso|        TX|       681728|     649121|            0.0502|
|       16|          Tucson|        AZ|       548073|     520116|            0.0538|
|       17|          Fresno|        CA|       531576|     494665|            0.0746|
|       18|            Mesa|        AZ|       518012|     439041|            0.1799|
|       19|      Sacramento|        CA|       513624|     466488|             0.101|
|       20|Colorado Springs|        CO|       478221|     416427|            0.1484|
+---------+----------------+----------+-------------+-----------+------------------+
only showing top 20 rows

In [4]:
grp_df = df.filter("State_Code=='TX'").groupBy("City").sum("2010_Census")
grp_df.show()

+--------------+----------------+
|          City|sum(2010_Census)|
+--------------+----------------+
|         Tyler|           96900|
|      McKinney|          131117|
|        Dallas|         1197816|
|        Laredo|          236091|
|   San Antonio|         1327407|
|         Allen|           84246|
|       McAllen|          129877|
|      Edinburg|           77100|
|         Plano|          259841|
|   League City|           83560|
|        Austin|          790390|
|       El Paso|          649121|
|      Pasadena|          149043|
|       Garland|          226876|
|      Mesquite|          139824|
|       Lubbock|          229573|
|        Irving|          216290|
|Corpus Christi|          305215|
|      Amarillo|          190695|
|    Round Rock|           99887|
+--------------+----------------+
only showing top 20 rows

## check DataFrame empty or not All the Ways

### Using Count:

In [5]:
if grp_df.count() > 0:
    print("True")
else:
    print("False")

True

### Using First

In [8]:
if grp_df.first():
    print(True)
else:
    print(False)

True

### using Take

In [10]:
if grp_df.take(1):
    print(True)
else:
    print(False)

True

### using isEmpty (RDD)

In [11]:
if grp_df.rdd.isEmpty():
    print(True)
else:
    print(False)

False