### Group By data with count method

In [4]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName('Name').getOrCreate()
Total_data = spark.read.option("delimiter","|").option("header",True).option("inferSchema",True).csv("uspopulation.csv")
Total_data.show()

+---------+----------------+----------+-------------+-----------+------------------+
|2019_rank|            City|State_Code|2019_estimate|2010_Census|            Change|
+---------+----------------+----------+-------------+-----------+------------------+
|        1|     New York[d]|        NY|      8336817|    8175133|            0.0198|
|        2|     Los Angeles|        CA|      3979576|    3792621|            0.0493|
|        3|         Chicago|        IL|      2693976|    2695598|âˆ’0.06%            |
|        4|      Houston[3]|        TX|      2320268|    2100263|            0.1048|
|        5|         Phoenix|        AZ|      1680992|    1445632|            0.1628|
|        6|     San Antonio|        TX|      1547253|    1327407|            0.1656|
|        7|       San Diego|        CA|      1423851|    1307402|            0.0891|
|        8|          Dallas|        TX|      1343573|    1197816|            0.1217|
|        9|        San Jose|        CA|      1021795|     945942|            0.0802|
|       10|          Austin|        TX|       978908|     790390|            0.2385|
|       11|      Fort Worth|        TX|       909585|     741206|            0.2272|
|       12|        Columbus|        OH|       898553|     787033|            0.1417|
|       13|San Francisco[g]|        CA|       881549|     805235|            0.0948|
|       14|       Denver[i]|        CO|       727211|     600158|            0.2117|
|       15|         El Paso|        TX|       681728|     649121|            0.0502|
|       16|          Tucson|        AZ|       548073|     520116|            0.0538|
|       17|          Fresno|        CA|       531576|     494665|            0.0746|
|       18|            Mesa|        AZ|       518012|     439041|            0.1799|
|       19|      Sacramento|        CA|       513624|     466488|             0.101|
|       20|Colorado Springs|        CO|       478221|     416427|            0.1484|
+---------+----------------+----------+-------------+-----------+------------------+
only showing top 20 rows

In [14]:
Total_data.count()

156

In [15]:
Filter_data = Total_data.filter("state_code<>'NY'")
Filter_data.count()

151

In [16]:
Group_data = Filter_data.groupBy("city").sum("2019_estimate")
Group_data.count()

147

### Count the values without count method: using Accumulator (Shared Varaibles & counter)

In [17]:
Total_data_counter = spark.sparkContext.accumulator(0)
Filter_data_counter = spark.sparkContext.accumulator(0)
Group_data_counter = spark.sparkContext.accumulator(0)

In [18]:
Total_data.foreach(lambda x: Total_data_counter.add(1))
Filter_data.foreach(lambda x: Filter_data_counter.add(1))
Group_data.foreach(lambda x: Group_data_counter.add(1))

In [27]:
Total_data_counter
Filter_data_counter
Group_data_counter

Accumulator<id=2, value=147>

In [28]:
Total_data_counter.value
Filter_data_counter.value
Group_data_counter.value

147